<a href="https://colab.research.google.com/github/kamacys/Challenge21/blob/main/Challenge21_Opt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

This is the first optimized version.  Two additional columns have been dropped. The result is a slight increase in accuracy of the model and a slight increase in loss.

---

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns
application_df = application_df.drop(columns = ['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts.iloc[9:].index)
cutoff_value = 737

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_types.iloc[7:].index)
cutoff_value_classifications = 1883


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [ ]:
application_df['IS_SUCCESSFUL'].values

array([1, 1, 0, ..., 0, 1, 0])

In [ ]:
xtemp = application_df.drop(columns='IS_SUCCESSFUL')
xtemp.values

array([['T10', 'Independent', 'C1000', ..., 'Association', '0', 5000],
       ['T3', 'Independent', 'C2000', ..., 'Co-operative', '1-9999',
        108590],
       ['T5', 'CompanySponsored', 'C3000', ..., 'Association', '0', 5000],
       ...,
       ['T3', 'CompanySponsored', 'C2000', ..., 'Association', '0', 5000],
       ['T5', 'Independent', 'C3000', ..., 'Association', '0', 5000],
       ['T3', 'Independent', 'C1000', ..., 'Co-operative', '1M-5M',
        36500179]], dtype=object)

In [ ]:
dummies['IS_SUCCESSFUL'].values

array([1, 1, 0, ..., 0, 1, 0])

In [ ]:
xtemp2 = dummies.drop(columns='IS_SUCCESSFUL').values
xtemp2

array([[    5000,        0,        1, ...,        0,        0,        0],
       [  108590,        0,        0, ...,        0,        0,        0],
       [    5000,        0,        0, ...,        0,        0,        0],
       ...,
       [    5000,        0,        0, ...,        0,        0,        0],
       [    5000,        0,        0, ...,        0,        0,        0],
       [36500179,        0,        0, ...,        0,        0,        0]])

In [ ]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 9
hidden_nodes_layer2 = 7

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 9)                 396

 dense_4 (Dense)             (None, 7)                 70

 dense_5 (Dense)             (None, 1)                 8

=================================================================
Total params: 474
Trainable params: 474
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6094 - accuracy: 0.6907
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5667 - accuracy: 0.7202
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5595 - accuracy: 0.7226
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7239
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7250
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7269
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5534 - accuracy: 0.7271
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5524 - accuracy: 0.7266
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7282
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7274
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7286
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7289
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7304
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7297
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7301
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7305
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7287
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7307
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7306
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7305
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7301
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7308
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7302
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7311
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7312
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7313
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7311
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7328
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7316
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7311
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7311
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7318
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7322
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7320
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7301
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7311
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7319
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7313
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7326
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7318
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7318
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7309
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7322
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7321
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7315
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7327
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7316
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7320
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7331
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7322
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7325
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7313
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7320
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7311
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7327
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7327
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7313
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7317
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7325
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7319
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7331
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7327
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7321
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7334
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7321
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7335
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7324
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7316
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7321
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7323
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7330
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7313
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7324
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7319
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7320
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7328
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7323
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7336
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7321
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7326
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7318
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7314
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7318
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7308
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7311
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7327
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7326
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7325
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7328
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7329
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7324
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7331
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7316
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7327
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7323
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7327
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7322
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7317
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7320
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7330

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5494 - accuracy: 0.7360 - 478ms/epoch - 2ms/step
Loss: 0.5493943095207214, Accuracy: 0.7359766960144043

In [ ]:
# Export our model to HDF5 file
filepath = r"C:\Users\kamac\Challenge21_Opt1.h5"
nn.save(filepath, save_format='h5')